name: Deploy ke VPS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy ke VPS via SSH
        uses: appleboy/ssh-action@v1      # <- ganti dari @v1.0.0 ke @v1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          passphrase: ""                  # kalau waktu buat key PASS-PHRASE-nya dikosongkan
          port: 22
          debug: true                     # supaya log-nya lebih jelas
          script: |
            cd ~/proyek-cloud
            git pull
            docker compose down
            docker compose up -d --build
